/* Catppuccin Macchiato, if you can believe it */
@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;
@define-color deep-dark #11111b;

* {
    border: none;
    font-family: "Fira Code", "Noto Emoji";

    min-height: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    text-shadow: none;
    border-radius: 0;
}

window#waybar {
    background: rgba(30, 32, 48, 0.5); /*@mantle;*/
}

window#waybar.notch-buffer {
    background: @deep-dark;
}

.modules-left,
.modules-center,
.modules-right {
    font-size: 11px;
    color: @text;
    /* padding: 5px 0; */
}

.modules-left button,
.modules-center button,
.modules-right button {
    padding: 2px;
}

window#waybar.top .modules-left label.module {
    border-right: 1px solid @surface0;
}

window#waybar.top .modules-center label.module {
    border-left: 1px solid @surface0;
}
window#waybar.top .modules-center label.module#custom-weather {
    border-right: 1px solid @surface0;
}

window#waybar.top .modules-right label.module {
    border-left: 1px solid @surface0;
}

window#waybar.top label.module {
    padding: 0 8px;
}

window#waybar.top-bar-notch label.module#clock {
    /* This is the approximate width of the notch, and does not need to be changed */
    margin-right: 250px;
    border-right: 1px solid @surface0;
}
window#waybar.top-bar-notch label.module#custom-weather {
    /* This is the difference in width between the clock and the weather, and may need to be changed */
    margin-right: 104px;
}

label.module#custom-logo {
    color: @blue;
}

label.module#clock {
    color: @blue;
}

label.module#custom-weather {
    color: @blue;
}

label.module#battery {
    color: @blue;
}

label.module#cpu {
    color: @mauve;
}

label.module#network {
    color: @mauve;
}

label.module#memory {
    color: @sapphire;
}

label.module#bluetooth {
    color: @sapphire;
}

label.module#custom-powerDraw {
    color: @green;
}

label.module#pulseaudio {
    color: @green;
}

label.module#backlight {
    color: @teal;
}

label.module#network.speed {
    color: @teal;
}

label.module#temperature {
    color: @yellow;
}

label.module#idle_inhibitor {
    color: @yellow;
}

.battery-critical label.module#battery {
    color: @red;
}

label.module#custom-workspaces {
    color: @lavender;
}

#taskbar button.active {
    background: @blue;
    color: @base;
}

#taskbar button {
    color: @blue;
    font-size: 8px;
}

.todo {
    font-size: 12px;
    margin: 10px;
}

.workspace {
    font-size: 8px;
}

/*layout
* box.horizontal.niri-taskbar
* -> button.flat.image-button[.focused]
*   -> alighnment
*     -> box.horizontal
* */

.flat.image-button button {
    min-width: 10px;
    min-height: 10px;
    padding: 5px;
}

.flat.image-button .horizontal {
}
