// should go in ~/.config/pandora/pandora.kdl (or $XDG_CONFIG_HOME/pandora/pandora.kdl)
// Display for Serafina
output "eDP-1" {
    image "~/.config/wallpapers/0001.png"
    mode "scroll-vertical"
}

// Display for Iorek
output "LVDS-1" {
    image "~/.config/wallpapers/0001.png"
    mode "scroll-vertical"
}

// External Display
output "HDMI-A-1" {
    image "~/.config/wallpapers/0001.png"
    mode "scroll-vertical"
}

animation {
    // Slow down animation by this factor. Values below 1 speeds up instead.
    // slowdown 0.5
}

// logging "default"
