/* Catppuccin Macchiato, if you can believe it */
@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;

* {
  border: none;
  font-family: "Fira Code";

	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
  border-radius: 0;
}

window#waybar {
  background: @mantle;
}

.modules-left,
.modules-center,
.modules-right {
  font-size: 11px;
  color: @text;
}

.modules-left button,
.modules-center button,
.modules-right button {
  padding: 2px;
}

#custom-logo {
  color: @blue;
}

#clock {
  color: @pink;
}


#custom-weather {
  color: @lavender;
}

/* #workspaces .flat:nth-child(1) { color: @red; } */
/* #workspaces .flat:nth-child(2) { color: @peach; } */
/* #workspaces .flat:nth-child(3) { color: @yellow; } */
/* #workspaces .flat:nth-child(4) { color: @green; } */
/* #workspaces .flat:nth-child(5) { color: @sapphire; } */
/* #workspaces .flat:nth-child(6) { color: @sky; } */
/* #workspaces .flat:nth-child(7) { color: @blue; } */
/* #workspaces .flat:nth-child(8) { color: @lavender; } */
/* #workspaces .flat:nth-child(9) { color: @mauve; } */
/* #workspaces .flat:nth-child(10) { color: @pink; } */

/* #workspaces .flat.active:nth-child(1) { background: @red; } */
/* #workspaces .flat.active:nth-child(2) { background: @peach; } */
/* #workspaces .flat.active:nth-child(3) { background: @yellow; } */
/* #workspaces .flat.active:nth-child(4) { background: @green; } */
/* #workspaces .flat.active:nth-child(5) { background: @sapphire; } */
/* #workspaces .flat.active:nth-child(6) { background: @sky; } */
/* #workspaces .flat.active:nth-child(7) { background: @blue; } */
/* #workspaces .flat.active:nth-child(8) { background: @lavender; } */
/* #workspaces .flat.active:nth-child(9) { background: @mauve; } */
/* #workspaces .flat.active:nth-child(10) { background: @pink; } */

#workspaces .flat {
  color: @lavender;
}

#workspaces .flat.active {
  background: @lavender;
  color: @base;
}

#disk {
  color: @sky;
}

#memory {
  color: @maroon;
}

#cpu {
  color: @mauve;
}

#temperature {
  color: @red;
}

#custom-powerDraw {
  color: @yellow;
}

#backlight {
  color: @rosewater;
}

#custom-colorpicker {}

#bluetooth {
  color: @sapphire;
}

#pulseaudio {
  color: @flamingo;
}

#network {
  color: @teal;
}

#battery {
  color: @green;
}

#taskbar button.active {
  background: @blue;
  color: @base;
}

#taskbar button {
  color: @blue;
  font-size: 8px;
}
